:root {
  --default-font-family: "Space Mono", monospace;
  --primary-color: #161d18;
  --secondary-color: #f3bfab;
  --tertiary-color: #f7cfbe;
}

.navbar-custom {
  background-color: var(--tertiary-color);
}

.navbar-custom .nav-link {
  color: var(--primary-color);
}

.navbar-custom .nav-link:hover {
  color: #e5a999;
}

.hero {
  background-color: #b1bc93;
  padding-bottom: 80px;
}

h1,
h2,
h3,
p,
.launch-button {
  font-family: var(--default-font-family);
}

a:hover {
  cursor: pointer;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 100pt !important;
  line-height: 80px;
  background: -webkit-linear-gradient(
    rgba(98, 117, 80, 0),
    rgba(98, 117, 80, 44)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20px;
}

h2 {
  text-align: center;
  font-weight: bold !important;
  color: var(--primary-color);
}

#keyboard {
  float: right;
}

.second-block {
  background-color: var(--tertiary-color);
}

.third-block {
  background-color: white;
}

.launch-button {
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
}
